.main-header {
  padding-inline: 10px;
  background-color: rgb(0, 0, 0);
}

.main-header .main-nav ul {
  gap: 10px;
  place-items: center;
}

.main-header .main-nav ul li {
  display: flex;
  height: 100px;
  align-items: center;
}

.main-header .main-nav ul li a {
  text-decoration: none;
}
